<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Eintrag</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (submit)="submitNewEntry()">
    <ion-item>
      <ion-label position="floating">Datum</ion-label>
      <ion-datetime [(ngModel)]="newEntry.date" name="date"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Gym-Standort</ion-label>
      <ion-input
        [(ngModel)]="newEntry.gymLocation"
        name="gymLocation"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Kommentar</ion-label>
      <ion-textarea
        [(ngModel)]="newEntry.comment"
        name="comment"
      ></ion-textarea>
    </ion-item>

    <ion-button expand="block" type="submit">Speichern</ion-button>
  </form>
</ion-content>
