<ion-header>
  <ion-toolbar>
    <ion-title>Neuer Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveLog()">
    <ion-item>
      <ion-label>Gym Standort</ion-label>
      <ion-select [(ngModel)]="selectedGymLocation" name="gymLocation" required>
        <ion-select-option
          *ngFor="let location of gymLocations"
          [value]="location"
        >
          {{ location }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Foto aufnehmen</ion-label>
      <ion-button expand="full" (click)="takePhoto()">Foto</ion-button>
    </ion-item>

    <ion-item *ngIf="photoUrl">
      <ion-label>Vorschau:</ion-label>
      <ion-img [src]="photoUrl"></ion-img>
    </ion-item>

    <ion-button type="submit" expand="full">Speichern</ion-button>
  </form>
</ion-content>
