<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Create new Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create new Log</ion-title>
    </ion-toolbar>
  </ion-header>
  <form (ngSubmit)="saveLog()">
    <ion-item>
      <ion-label position="stacked">Gym Standort</ion-label>
      <ion-select [(ngModel)]="selectedGymLocation" name="gymLocation" required>
        <ion-select-option
          *ngFor="let location of gymLocations"
          [value]="location"
        >
          {{ location }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comment</ion-label>
      <ion-textarea
        [(ngModel)]="comment"
        name="comment"
        placeholder="Write, what you want to remember..."
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Datum</ion-label>
      <ion-datetime
        [(ngModel)]="selectedDate"
        presentation="date"
        name="date"
        displayFormat="YYYY-MM-DD"
        pickerFormat="YYYY-MM-DD"
        required
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Zeit</ion-label>
      <ion-datetime
        [(ngModel)]="selectedTime"
        presentation="time"
        name="time"
        displayFormat="HH:mm"
        pickerFormat="HH:mm"
        required
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label>Foto </ion-label>
      <ion-button (click)="takePhoto()">Foto</ion-button>
    </ion-item>

    <ion-item *ngIf="photoUrl">
      <ion-label position="stacked">Vorschau</ion-label>
      <ion-img [src]="photoUrl"></ion-img>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!isFormValid()"
      >Speichern</ion-button
    >
  </form>
</ion-content>
