<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>All Gym Logs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">All Gym Logs</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-item-sliding *ngFor="let log of logs">
      <ion-item>
        <ion-label>
          <h2>{{ log.date | formatDate }}</h2>
          <p>Gym: {{ getGymName(log.gym_id) || 'Gym nicht gefunden' }}</p>
          <p>Kommentar: {{ log.comment }}</p>
        </ion-label>
      </ion-item>

      <ion-item-options>
        <ion-item-option
          (click)="confirmDelete(log.id!)"
          color="danger"
          class="ion-padding"
        >
          <ion-icon size="large" icon="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>

      <ion-item-options side="start">
        <ion-item-option (click)="editLog(log.id!)" class="ion-padding">
          <ion-icon size="large" icon="pencil-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
