<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="statistics" href="/tabs/statistics">
      <ion-icon aria-hidden="true" name="home-outline"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="logs" href="/tabs/logs">
      <ion-icon aria-hidden="true" name="fitness-outline"></ion-icon>
      <ion-label>Gym Logs</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="new" href="/tabs/new">
      <ion-icon aria-hidden="true" name="create-outline"></ion-icon>
      <ion-label>New Log</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="settings" href="/tabs/settings">
      <ion-icon aria-hidden="true" name="settings-outline"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
