<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Dynamischer Text </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label position="stacked">Text eingeben</ion-label>
    <ion-input
      [(ngModel)]="textInput"
      placeholder="Gib hier deinen Text ein"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Schriftgröße: {{ rangeValue }}px</ion-label>
    <ion-range min="10" max="50" step="1" [(ngModel)]="rangeValue">
      <ion-label slot="start">10px</ion-label>
      <ion-label slot="end">50px</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Farbe wählen</ion-label>
    <ion-radio-group [(ngModel)]="selectedColor">
      <ion-row>
        <ion-item lines="none">
          <ion-radio slot="start" value="red">Rot</ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-radio slot="start" value="green">Grün</ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-radio slot="start" value="blue">Blau</ion-radio>
        </ion-item>
      </ion-row>
    </ion-radio-group>
  </ion-item>

  <div style="margin: 16px; text-align: center">
    <p [style.color]="selectedColor" [style.fontSize.px]="rangeValue">
      {{ textInput || 'Dein Text wird hier angezeigt' }}
    </p>
  </div>

  <ion-button expand="full" (click)="showToast()">Farbe bestätigen</ion-button>

  <ion-toast
    [isOpen]="isToastOpen"
    message="Farbe '{{ selectedColor }}' wurde angewendet!"
    duration="2000"
    (didDismiss)="isToastOpen = false"
  >
  </ion-toast>
</ion-content>
