<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Create new Log</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <form (ngSubmit)="saveLog()">
    <ion-item>
      <ion-select
        [(ngModel)]="selectedGymLocation"
        name="gymLocation"
        label="Gym Location"
        placeholder="Your Location..."
        required
      >
        <ion-select-option *ngFor="let gym of gyms" [value]="gym.id">
          {{ gym.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comment</ion-label>
      <ion-textarea
        [(ngModel)]="comment"
        name="comment"
        placeholder="Write, what you want to remember..."
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label>Datum</ion-label>
      <ion-datetime-button datetime="dateTimeInput"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime
            #dateTimeInput
            id="dateTimeInput"
            (ionChange)="onDateTimeChange($event)"
            presentation="date-time"
          ></ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <ion-item>
      <ion-label>Photo</ion-label>
      <ion-button (click)="takePhoto()">
        <ion-icon name="camera-outline"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-item *ngIf="photoUrl" lines="none">Preview</ion-item>
    <ion-item *ngIf="photoUrl">
      <ion-img [src]="photoUrl"></ion-img>
    </ion-item>

    <ion-button type="submit" expand="full" [disabled]="!isFormValid()">
      Save
    </ion-button>
  </form>
</ion-content>
