<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Edit log</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()">
    <ion-item>
      <ion-label position="stacked">Gym location</ion-label>
      <ion-select [(ngModel)]="updatedLog.gym_id" name="gymLocation" required>
        <ion-select-option *ngFor="let gym of gyms" [value]="gym.id">
          {{ gym.name }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Comment</ion-label>
      <ion-textarea
        [(ngModel)]="updatedLog.comment"
        name="comment"
        placeholder="Add comment"
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Date</ion-label>
      <ion-datetime
        [(ngModel)]="updatedLog.date"
        name="date"
        presentation="date-time"
        class="ion-margin"
        required
      >
      </ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-button
        slot="end"
        class="ion-margin"
        type="submit"
        color="primary"
        size="default"
      >
        Save
      </ion-button>
    </ion-item>
  </form>
</ion-content>
