<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Statistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>
    <ion-list-header>
      <h2>Your top 3 Gyms</h2>
    </ion-list-header>
    <ion-item *ngFor="let gymStat of stats.visitsPerGym">
      <ion-label>
        <h3>{{ gymStat.gymName }}</h3>
        <p>{{ gymStat.count }} visits</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Total Visits All Time </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="stat-number">{{ stats.totalVisits }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Visits This Year</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="stat-number">{{ stats.visitsThisYear }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Visits This Month</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="stat-number">{{ stats.visitsThisMonth }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <ion-card-header>
            <ion-card-title>Visits This Week</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <h2 class="stat-number">{{ stats.visitsThisWeek }}</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Motivational Stats</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="stats.totalVisits > 0">
        Your most visited gym this month is:
        <strong>{{ stats.mostVisitedGym?.gymName }}</strong>
      </p>
      <p *ngIf="stats.totalVisits > 0">
        You’ve visited the {{ stats.mostVisitedGym?.gymName }} Gym
        <strong>{{ stats.mostVisitedGym?.count }}</strong> times this month!
      </p>
      <p *ngIf="stats.progressThisWeek > 0">
        You've increased your visits this week by
        <strong>{{ stats.progressThisWeek }}%</strong> compared to last week!
      </p>
      <p>Keep it up!</p>
    </ion-card-content>
  </ion-card>
</ion-content>
