<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bearbeite Log</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Schliessen</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="saveChanges()">
    <ion-item>
      <ion-label position="stacked">Gym Standort</ion-label>
      <ion-select [(ngModel)]="updatedLog.gym_id" name="gymLocation" required>
        <ion-select-option
          *ngFor="let location of gymLocations"
          [value]="location"
        >
          {{ location }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Kommentar</ion-label>
      <ion-textarea
        [(ngModel)]="updatedLog.comment"
        name="comment"
        placeholder="Kommentar hinzufügen"
        required
      ></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Datum</ion-label>
      <ion-datetime
        [(ngModel)]="updatedLog.date"
        name="date"
        presentation="date-time"
        class="ion-margin"
        required
      >
      </ion-datetime>
    </ion-item>

    <ion-item lines="none">
      <ion-button
        slot="end"
        class="ion-margin"
        type="submit"
        color="primary"
        size="default"
      >
        Speichern
      </ion-button>
    </ion-item>
  </form>
</ion-content>
